.container {
  max-width: 1200px;
  margin: 1.5rem auto 3rem;
}

.main {
  min-height: 60vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-name: rise;
}

@keyframes rise {
  0% {
    transform: translateY(5em);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  margin: 0;
  line-height: 0.25em;
  font-size: 4rem;
  /* font-weight: 700; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2.5rem 0;
  line-height: 1.5;
  font-size: 2rem;
}

.descriptionSM {
  margin: 2.5rem 0 0;
  font-size: 1.6em;
  /* color: var(--color-gray-dark); */
  font-weight: 500;
  text-align: center;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.grid .link {
  font-weight: 700;
  color: var(--color-blue-accent);
  font-size: 1.1em;
}

@media screen and (max-width: 960px) {
  /* placeholder */
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    line-height: 1em;
  }
}
