.container {
  max-width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1.5em;
}

.postContainer {
  line-height: 2.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em;
  /* max-width: 100%; */
  /* margin: 1.5em 0; */
  /* padding: 0 0.5em; */
}

.postContainer .title {
  font-size: 3em;
  font-weight: 800;
  line-height: 1.1em;
}

.postContainer .postDate {
  color: var(--color-gray-dark);
  font-weight: 300;
}

.postContainer p,
.postContainer .postContents {
  font-weight: 400;
}

.postContainer a {
  font-weight: 700;
  color: var(--color-blue-accent);
  font-size: 1.1em;
  border-bottom: 3px solid var(--color-blue-accent);
}

.iconContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.iconContainer .icons {
  font-size: 2em;
  color: var(--color-gray-dark);
  transition: all 0.3s ease-in-out;
}

.iconContainer .icons:hover {
  color: var(--color-blue-accent);
}

@media screen and (max-width: 980px) {
  .container {
    grid-template-columns: 1fr;
  }

  .postContainer {
    margin: 0 1.5em;
  }

  .postContainer .title {
    /* margin: 0 auto; */
    text-align: center;
  }

  .iconContainer {
    flex-direction: row;
    height: 100px;
    order: -1;
    align-self: flex-end;
    /* max-width: 600px; */
  }

  .iconContainer .icons {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 525px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .postContainer pre,
  .postContainer code {
    padding: 0.4rem;
    overflow: auto;
  }
}
