.projectCard {
  height: 600px;
  width: 95%;
  margin: 0 auto;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgba(142, 142, 142, 0.25); */

  box-shadow: 3px 7px 12px rgba(151, 151, 151, 0.4),
    -6px -7px 9px rgba(151, 151, 151, 0.2);
  border-radius: 9px;
}

.projectCard .imageContainer {
  width: 70%;
  height: 300px;
  /* box-shadow: 3px 4px 19px rgba(151, 151, 151, 0.3); */

  border-radius: 6px;

  position: relative;
}

.projectCard .image {
  border-radius: 6px;
  object-fit: cover;
}

.projectCard .textContainer {
  text-align: center;
  width: 80%;
  transition: all 0.4s linear;
}

.projectCard .textContainer h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.1rem;
  margin: 1rem 0;
  color: var(--color-blue-main);
}

.projectCard .textContainer p {
  line-height: 1.8em;
  font-weight: 300;
  margin: 2em 0;
}

.projectCard .linkContainer a {
  cursor: pointer;
  color: var(--color-blue-main);
  margin: 0.7em;
  font-size: 1.35em;
  transition: all 0.3s ease-in-out;
}

.projectCard .linkContainer a:hover {
  color: var(--color-blue-accent);
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em;
  background-color: transparent;
  font-size: 2em;
  color: var(--color-black-main);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.carouselContainer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselBtn {
  height: 26px;
  width: 26px;
  margin: 8px;
  border-radius: 50%;
  background-color: var(--color-gray-main);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.carouselBtn.active {
  transform: scale(1.23);
  background-color: var(--color-black-main);
}

@media screen and (max-width: 525px) {
  .projectCard .imageContainer {
    width: 100%;
  }

  .projectCard .textContainer h1 {
    font-size: 1.6em;
    line-height: 1;
  }

  .projectCard .textContainer p {
    line-height: 1.4em;
    font-weight: 300;
    margin: 2em 0;
  }
}
