.projectContainer {
  min-height: 40vh;
  display: grid;
  grid-template-columns: 55% 35%;
  width: 85%;
  box-shadow: 12px 8px 28px rgba(51, 51, 51, 0.3);
  border-radius: 8px;

  align-items: center;
  margin-bottom: 12px;
}

.projectContainer .heading2Xl {
  font-size: 1.9em;
  line-height: 1.2;
  margin: 1rem 0;
  font-weight: 800;
}

.projectContainer h1,
.projectContainer h2,
.projectContainer h3,
.projectContainer h4,
.projectContainer h5,
.projectContainer h6 {
  text-align: center;
  padding-bottom: 0.75em;
}

.projectContainer .imgContainer {
  padding-left: 15px;
}

.projectContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.projectContainer .linkContainer {
  /* background-color: orange; */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projectContainer .descriptionContainer {
  text-align: center;
  line-height: 1.6em;
  text-align: right;
}

.projectContainer .flavorText {
  font-size: 0.9em;
  width: 90%;
  line-height: 1.4em;
  letter-spacing: 0.02em;
}

.projectContainer a {
  cursor: pointer;
  color: #777;
  margin: 0.7em;
  font-size: 1.8em;
  transition: all 0.3s ease-in-out;
}

.projectContainer a:hover {
  color: rgb(119, 156, 194);
}

@media screen and (max-width: 960px) {
  .projectContainer {
    grid-template-columns: 30% 70%;
    /* grid-template-rows: 40% 60%; */
  }

  .projectContainer .flavorText {
    font-size: 0.8em;
  }

  .projectContainer a {
    font-size: 1.2em;
  }
}
