.searchContainer {
  position: absolute;
  top: 0px;
  right: 20px;
  /* align-self: flex-end; */
  /* margin-right: 1.5rem; */
  /* margin-bottom: 1rem; */
}

.searchIcon {
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  color: var(--color-search-icon-default);
  font-size: 1.3rem;
  transition: all 1s;
}

.searchIcon:hover,
.searchIcon:focus {
  transform: scale(1.2);
  color: var(--color-bg-light);
}

.searchResultsContainer {
  position: relative;
  /* display: none; */
  top: 50%;
  left: 50%;
  max-height: 40%;
  width: 70%;
  padding: 16px;
  /* background: rgba(29, 29, 29, 1); */
  /* background: rgba(42, 42, 42, 1); */
  background-color: red;

  box-shadow: 0px 4px 6px rgba(29, 29, 29, 0.3);
  border-radius: 0 0 6px 6px;
  color: white;
  overflow-y: hidden;
}

.searchReultsContainer .searchResult {
  width: 100%;
  height: 100px;
  background-color: purple;
  overflow: hidden;
}

.searchResultsContainer.display {
  display: block;
}
