.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  display: block;
  font-size: 1.3rem;
  line-height: 1.4;
  margin: 0 0 2rem 0;
  font-weight: 400;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.textContainer {
  width: 80%;
  line-height: 1.8em;
}

.textContainer p {
  margin: 1.5em 0;
}

.textContainer a,
.link {
  font-weight: 700;
  color: var(--color-blue-accent);
  font-size: 1.1em;
}

.borderCircle {
  border-radius: 9999px;
}

.main {
  min-height: 60vh;
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.listItem span {
  margin-left: 0.5em;
  font-size: 0.8em;
}

.lightText {
  color: var(--color-gray-main);
}

.btnContainer {
  margin-top: 1em;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5em 2em;
  background-color: transparent;
  font-size: 1.2em;
  color: var(--color-blue-accent);
}

.btn:disabled {
  color: var(--color-gray-dark);
  cursor: default;
}

@media screen and (max-width: 500px) {
  .main {
    padding: 3rem 1rem;
  }
}
